In [ ]:
"""

Get list of state FIPS codes from the USDA page
https://www.nrcs.usda.gov/wps/portal/nrcs/detail/?cid=nrcs143_013696

scrape page and output to pickle


"""

In [7]:
from bs4 import BeautifulSoup
import requests

import numpy as np
import pandas as pd

import pickle

In [2]:
url = 'https://www.nrcs.usda.gov/wps/portal/nrcs/detail/?cid=nrcs143_013696' 

response = requests.get(url)

In [3]:
response.status_code  #200 = success!

200

In [4]:
response.text[:1000]  #First 1000 characters of the HTML

'\r\n\r\n\r\n\r\n \r\n  \r\n\r\n  \r\n\r\n <!DOCTYPE html>\r\n   \r\n\r\n \r\n             \r\n    \r\n      \r\n    \r\n   \r\n \r\n \r\n \r\n   \r\n \r\n \r\n \r\n \r\n \r\n     \r\n\r\n      \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n                \r\n \r\n\r\n\r\n\r\n                                                  \r\n                                                                                                                                                                                                      \r\n                                                                                                                                                                                                                                                                                                                                                                                           \r\n                                  \r\n                                                                                                                        \r\n<html xmlns="http:/'

In [5]:
page = response.text

In [6]:
soup = BeautifulSoup(page)

In [10]:
#soup

In [11]:
#print(soup.prettify())

In [29]:
table = soup.find(id ='detail').find_all('td')
#table

In [22]:
fips_table_data = [x.text.strip() for x in table]
#fips_table_data

In [19]:
data_array = np.array(fips_table_data).reshape(55, 3)

In [21]:
#data_array

In [24]:
st_fips_codes = pd.DataFrame(data_array)
st_fips_codes.columns = ['state', 'abbr', 'FIPS']

In [27]:
st_fips_codes.head()

        state abbr FIPS
0     Alabama   AL   01
1      Alaska   AK   02
2     Arizona   AZ   04
3    Arkansas   AR   05
4  California   CA   06

In [28]:
with open('st_fips_codes.pickle', 'wb') as to_write:
    pickle.dump(st_fips_codes, to_write)