In [1]:
"""
Filter data file with population data from USDA to year 2019.

Output to pickle
"""

'\nFilter data file with population data from USDA to year 2019.\nPivot table from tall to wide.\n\nOutput to pickle\n'

In [2]:
import pandas as pd
import numpy as np
import pickle

In [4]:
pop_est_all = pd.read_csv('../data/USDA_PopulationEstimates.csv', encoding='unicode-escape')
pop_est_all.shape

(3273, 165)

In [5]:
pop_est_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3273 entries, 0 to 3272
Columns: 165 entries, FIPStxt to R_NET_MIG_2019
dtypes: float64(64), int64(1), object(100)
memory usage: 4.1+ MB

In [8]:
pop_est_all.head()

,FIPStxt,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,...,R_DOMESTIC_MIG_2019,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
0,0,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,125",...,1.9,0.6,1.2,1.5,0.6,0.6,0.7,1.1,1.8,2.5
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,0.0,"54,571","54,597",...,4.8,6.0,-6.2,-3.9,2.0,-1.7,4.8,0.8,0.5,4.6
3,1003,AL,Baldwin County,4.0,3.0,5.0,2.0,5.0,"182,265","182,265",...,24.0,16.6,17.5,22.8,20.2,17.7,21.3,22.4,24.7,24.4
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,3.0,"27,457","27,455",...,-5.7,0.3,-6.9,-8.1,-5.1,-15.7,-18.2,-25.0,-8.8,-5.2

In [7]:
pop_est_all.columns

Index(['FIPStxt', 'State', 'Area_Name', 'Rural-urban_Continuum Code_2003',
       'Rural-urban_Continuum Code_2013', 'Urban_Influence_Code_2003',
       'Urban_Influence_Code_2013', 'Economic_typology_2015',
       'CENSUS_2010_POP', 'ESTIMATES_BASE_2010',
       ...
       'R_DOMESTIC_MIG_2019', 'R_NET_MIG_2011', 'R_NET_MIG_2012',
       'R_NET_MIG_2013', 'R_NET_MIG_2014', 'R_NET_MIG_2015', 'R_NET_MIG_2016',
       'R_NET_MIG_2017', 'R_NET_MIG_2018', 'R_NET_MIG_2019'],
      dtype='object', length=165)

In [10]:
pop_est_filter = pop_est_all[['FIPStxt', 'State', 'Area_Name', 'POP_ESTIMATE_2019', 'N_POP_CHG_2019']]
pop_est_filter.head()

   FIPStxt State       Area_Name POP_ESTIMATE_2019 N_POP_CHG_2019
0        0    US   United States       328,239,523      1,552,022
1     1000    AL         Alabama         4,903,185         15,504
2     1001    AL  Autauga County            55,869            336
3     1003    AL  Baldwin County           223,234          5,379
4     1005    AL  Barbour County            24,686           -186

In [11]:
with open('pop_est_2019.pickle', 'wb') as to_write:
    pickle.dump(pop_est_filter, to_write)